<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Tailspin.SpaceGame.Web.Models" value="https://pkgs.dev.azure.com/kippolitov0726/af81bfe5-c192-4a5d-ac16-cb11254db72f/_packaging/Tailspin.SpaceGame.Web.Models/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <Tailspin.SpaceGame.Web.Models>
      <add key="Username" value="unused_but_required_by_nuget" />
      <add key="ClearTextPassword" value="%NUGET_PAT%" /> <!-- Or your personal access token directly -->
    </Tailspin.SpaceGame.Web.Models>
  </packageSourceCredentials>
</configuration>